@{
    ViewData["Title"] = "SignUp Page";
}

<div class="text-center">
    <h1 class="display-4">signUp</h1>
    <div>
        <form>
            <h5>Email</h5>
            <input />
            <h5>first Name</h5>
            <input />
            <h5>Last Name</h5>
            <input />
            <h5>password</h5>
            <input type="password" />
            <h5>password Re-type</h5>
            <input type="password" />
        </form>
        <form>
            <button type="submit">Submit</button>
        </form>



    </div>

</div>
